<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Lobster|Roboto|Roboto+Condensed&display=swap" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/home.css">
	<link rel="stylesheet" type="text/css" href="../static/about.css">
</head>
<body>
	<section class="nav-bar">
		<div class="header">
			<div class="sub-header">
				<div class="logo">
					Book Addicts
				</div>
				<div class="right-menu">
					<ul>
						<li><a href="../templates/home.html">HOME</a></li>
						<li><a href="../templates/about.html">ABOUT</a></li>
						<li><a href="../templates/contact.html">CONTACT</a></li>
						<li><a href="../templates/news.html">NEWS</a></li>
					</ul>
				</div>
				<div class="login">
					<a href="../templates/login.html"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp&nbsp Login</a>
				</div>
				<div class="social-media-links">
					<ul>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="about-us">
		<div class="content">
			<p>WELCOME TO BOOK ADDICTS.</p><br>
			<h1>WE ARE THE BEST WEBSITE AGENCY IN THE WORLD.</h1><br><br>
			<p>We are committed in providing our customers with exceptional service while offering our
				employees the best training. Lorem ipsum is simply dummy text of the printing and the 
				typesetting industry has been the industry standard dummy text ever since the 1500s.
			</p>
			<button class="button btn">Learn More</button>
		</div>
		<div class="book-images">
			<img class="image-1" src="../images/about-img1.jpg">
			<img class="image-2" src="../images/about-img2.jpg">
			<div class="box"></div>
		</div>
	</section>
</body>
</html>