<!DOCTYPE html>
<html>
<head>
	<title>Account</title>
	<link rel="stylesheet" type="text/css" href="../static/account.css">
</head>
<body>
	<div class="update-account-wrapper">
		<form class="form-container" action="">
			<img src="../images/default-image.jpg">
			<h1>Username</h1>
			<p>username@email.com</p>
			<div class="text-box">
				<i class="fa fa-envelope" aria-hidden="true"></i>
				<input type="text" name="" placeholder="Email">
			</div>
			<div class="text-box">
				<i class="fa fa-unlock-alt" aria-hidden="true"></i>
				<input type="password" name="" placeholder="Password">
			</div>
			<button class="button btn">Update</button>
			<button class="button btn">Cancel</button>
		</form>
	</div>
</body>
</html>