<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Lobster|Roboto|Roboto+Condensed&display=swap" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/home.css">
	<link rel="stylesheet" type="text/css" href="../static/register.css">
	<link rel="stylesheet" type="text/css" href="../static/contact.css">
</head>
<body>
		<section class="nav-bar">
		<div class="header">
			<div class="sub-header">
				<div class="logo">
					<a href="#">Book Addicts</a>
				</div>
				<div class="right-menu">
					<ul>
						<li><a href="../templates/home.html">HOME</a></li>
						<li><a href="../templates/about.html">ABOUT</a></li>
						<li><a href="../templates/contact.html">CONTACT</a></li>
						<li><a href="../templates/news.html">NEWS</a></li>
					</ul>
				</div>
				<div class="login">
					<a href="../templates/login.html"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp&nbsp Login</a>
				</div>
				<div class="social-media-links">
					<ul>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="contact">
		<img src="../images/contact-img.jpg">
		<div class="box"></div>
		<div class="form">
			<h1>Contact our Support Team</h1>
			<p>Need to get in touch with our team? We're all ears.</p>
			<div class="text-box">
				<i class="fa fa-user" aria-hidden="true"></i>
				<input type="text" name="" placeholder="Name">
			</div>
			<div class="text-box">
				<i class="fa fa-envelope" aria-hidden="true"></i>
				<input type="text" name="" placeholder="Email">
			</div>
			<div class="text-box">
				<i class="fa fa-comment" aria-hidden="true"></i>
				<input type="text-area" name="" placeholder="Your message here...">
			</div>
			<a href="../templates/register.html">Need an account? Register</p>
		</div>
	</section>
</body>
</html>