<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link href="https://fonts.googleapis.com/css?family=Lobster|Playfair+Display|Roboto|Roboto+Condensed&display=swap" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/home.css">
	<link rel="stylesheet" type="text/css" href="../static/login.css">
</head>
<body>
	<section class="nav-bar">
		<div class="header">
			<div class="sub-header">
				<div class="logo">
					Book Addicts
				</div>
				<div class="right-menu">
					<ul>
						<li><a href="../templates/home.html">HOME</a></li>
						<li><a href="../templates/about.html">ABOUT</a></li>
						<li><a href="../templates/contact.html">CONTACT</a></li>
						<li><a href="../templates/news.html">NEWS</a></li>
					</ul>
				</div>
				<div class="login">
					<a href="../templates/register.html"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp&nbsp Register</a>
				</div>
				<div class="social-media-links">
					<ul>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<div class="login-wrapper">
		<form class="form-container" action="">
			<img src="../images/avatar.png">
			<h1>Login</h1>
			<div class="text-box">
				<i class="fa fa-envelope" aria-hidden="true"></i>
				<input type="text" name="" placeholder="Email">
			</div>
			<div class="text-box">
				<i class="fa fa-unlock-alt" aria-hidden="true"></i>
				<input type="password" name="" placeholder="Password">
			</div>
			<a href="../templates/home.html">
				<button class="btn">Login</button>
			</a>
			<div class="small">
				<a href="">Forgot Password?</a>
			</div>
		</form>
	</div>
</body>
</html>